extends base

- load as_vertical_form from bootstrap
- load widget_tweaks
- load comments


block header
  - with headerMessage='Talk Page'
    include includes/header

  nav(role='navigation').navbar.navbar-default.navbar-static-top
    .container-fluid
      .row
        .col-xs-12
          h3
            <a href="javascript:window.open('','_self').close();"><i class="fa fa-angle-double-left"></i> Back to Marking</a>


block content
  .container-fluid.content.talk
    .row
      .col-10
        h4(style='color:black;').text-xs-center #{doc}

        .row
          .col-12
            ul(role='tablist').nav.nav-tabs
              li.nav-item
                a(data-toggle="tab", href="#er-results", role="tab").nav-link.active Entity Recognition
              li.nav-item
                a(data-toggle="tab", href="#r-results", role="tab").nav-link Relation
              li.nav-item
                a(href='http://www.ncbi.nlm.nih.gov/pubmed/{{doc.document_id}}', target='_blank').nav-link PubMed  <i class="fa fa-external-link"></i>


            div.tab-content
              div(id="er-results", role="tabpanel").tab-pane.active
                .row.m-t-1
                  .col-xs-10.col-xs-offset-1
                    p.text-muted Mouseover to see other users' annotations:
                    ul.pagination
                      - for user_pk in doc.contributors
                        li.page-item
                          a(data-userpk='{{user_pk}}').page-link #{user_pk}

                    .paragraphs.micro

              div(id="r-results", role="tabpanel").tab-pane
                .row(style='min-height: 300px;').m-t-1
                  .col-xs-10.col-xs-offset-1
                    #relation-synopsis-insert


    .row
      .col-12

        .row.mt-1
          .col-sm-6
            .row
              .col-4
                h4.text-center Diseases
                table.table.table-condensed.table-striped
                  thead
                    tr
                      th
                      th Annotation
                  tbody
                    - for disease in diseases
                      tr
                        th(scope="row") #{disease.1}
                        td
                          a(href='/talk/annotation/?q={{disease.0}}')
                            | #{disease.0}

              .col-4
                h4.text-center Genes
                table.table.table-condensed.table-striped
                  thead
                    tr
                      th
                      th Annotation
                  tbody
                    - for gene_protein in gene_proteins
                      tr
                        th(scope="row") #{gene_protein.1}
                        td
                          a(href='/talk/annotation/?q={{gene_protein.0}}')
                            | #{gene_protein.0}

              .col-4
                h4.text-center Drugs
                table.table.table-condensed.table-striped
                  thead
                    tr
                      th
                      th Annotation
                  tbody
                    - for drug in drugs
                      tr
                        th(scope="row") #{drug.1}
                        td
                          a(href='/talk/annotation/?q={{drug.0}}')
                            | #{drug.0}


          .col-6
            .row
              .col-xs-12
                - get_comment_list for document.document doc.pk as comment_list
                .list-group
                - for comment in comment_list
                  .list-group-item
                    h4.list-group-item-heading
                      a(href='{% url "userprofile:public-profile" comment.user.username %}')
                        | {{ comment.user.username }}
                    p.list-group-item-text {{ comment.comment }}
                    p.text-right.text-muted
                      small {{ comment.submit_date }}

            .row.justify-content-center
              .col-10
                - get_comment_form for document.document doc.pk as form
                form(action="{% comment_form_target %}", method="post")
                  - csrf_token

                  fieldset
                    {{ form.timestamp }}
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.security_hash }}

                    {{ form.comment|as_vertical_form }}
                    input(type="hidden", name="next", value="{% url 'talk:home' doc.document_id %}")

                  fieldset
                    input(type="submit", name="submit", value="Post").btn.btn-primary.pull-right

block post-footer
  script(type='html/template', id='relation-synopsis-template')
    p.lead.text-xs-center Click on the circles to see how your answers compared to the community's.
    ul#relation-synopsis-bar.list-unstyled.list-inline
    #feedback-next-action-area
    #chart-context(style='display:none;').row
      .col-xs-4.col-xs-offset-1.text-right
        p#concept-a.lead
      .col-xs-2.text-xs-center
        | <i class="fa fa-arrows-h fa-2x" aria-hidden="true"></i>
      .col-xs-4.text-left
        p#concept-b.lead
    ul#chart-list.list-unstyled

  script.
    var relation_task_settings = {
      'document_pk': "{{ doc.pk }}",
    };
  script(src="/static/js/tasks/relation-synopsis.js")

  script.
    var self_data, passages, regions;

    YPet.addInitializer(function(options) {

      $.getJSON('/task/entity-recognition/{{doc.pk}}/user/{{user.pk}}/results.json', function( data ) {
        self_data = data;
        passages = data.collection.document.passage;
        regions = {};

        _.each(passages, function(passage, passage_idx) {
          var passage_id = _.find(passage.infon, function(o){return o['@key']=='id';})['#text'];
          var p_body = '<div id="'+ passage_id +'" class="paragraph-box m-t-1"><p class="paragraph"></p></div></div>';
          $('.paragraphs').append(p_body);
          regions[''+passage_idx] = '#'+passage_id;
        });
        YPet.addRegions(regions);

        _.each(passages, function(passage, passage_idx) {
          var p = new Paragraph({'text': passage.text});
          YPet[''+passage_idx].show( new WordCollectionView({
            collection: p.get('words'),
            passage_json: passage,
            bioc_json: data
          }) );
          YPet[''+passage_idx].currentView.drawBioC(passage, false);
          YPet[''+passage_idx].currentView.drawBioC(null, true);
        });

      });
    });
    YPet.start();


    $('ul.pagination li a').on('mouseover', function(evt) {
      var user_pk = $(this).data('userpk');

      $.getJSON('/task/entity-recognition/{{doc.pk}}/user/'+ user_pk +'/results.json', function( data ) {
        self_data = data;
        passages = data.collection.document.passage;

        _.each(passages, function(passage, passage_idx) {
          var p = new Paragraph({'text': passage.text});
          YPet[''+passage_idx].show( new WordCollectionView({
            collection: p.get('words'),
            passage_json: passage,
            bioc_json: data
          }) );
          YPet[''+passage_idx].currentView.drawBioC(passage, false);
          YPet[''+passage_idx].currentView.drawBioC(null, true);
        });
      });

    });
