extends base

- load widget_tweaks
- load socialaccount

block header
  - with headerMessage='Account Registration'
    include includes/header

block content
  .container

    .row.m-t-md
      .col-xs-12
        h2.text-center You have now completed the tutorial and are ready to Mark2Cure!

      - if not user.is_authenticated
        .col-xs-10.col-xs-offset-1
          p.lead To skip the tutorials in the future and to save your score and any points you accumulate, please register for an account.  After registering, we will teach you how to highlight important biomedical concepts like diseases, genes, and treatments. Your efforts, combined with the efforts of other citizen scientists, will help researchers better organize biomedical knowledge.

      .row.m-b-md
        .col-md-6
          .row
            .col-sm-12
              h3.text-center Register for an account
          .row

            form(role='form', method='post', action="{% url 'account_signup' %}").form-horizontal
              - csrf_token
              #{form.errors}

              .form-group
                fieldset
                  label.col-sm-4.control-label Username
                  .col-sm-8 #{form.username|add_class:'form-control'|attr:"placeholder:Username is displayed on public profile"}

              .form-group
                fieldset
                  label.col-sm-4.control-label Email
                  .col-sm-8 #{form.email|add_class:'form-control'|attr:"placeholder:Email will remain hidden"}

              .form-group
                fieldset
                  label.col-sm-4.control-label Password
                  .col-sm-8 #{form.password1|add_class:'form-control'|attr:'type:password'}

              .form-group
                fieldset
                  label.col-sm-4.control-label Verify Password
                  .col-sm-8 #{form.password2|add_class:'form-control'|attr:'type:password'}

              .form-group
                fieldset
                  .col-sm-6.col-xs-offset-5
                    button(type="submit").btn.btn-primary.btn-block Create Account

            //a(title="log in with Google", href="{% provider_login_url 'google' %}") Google


        .col-md-6
          .row
            .col-sm-12
              h3.text-center Already have an account?
          .row.m-t-md
            .col-sm-4.col-sm-offset-4
              a(href='{% url "account_login" %}').btn.btn-block.btn-primary Login
