extends base

- load widget_tweaks
- load socialaccount

block header
  - with headerMessage='Account Registration'
    include includes/header

block content
  #accounts-signup.container-fluid

    .row.justify-content-center.my-3
      .col-12
        h2.text-center You have now completed training and are ready to Mark2Cure!

      // - if not user.is_authenticated
      //   .col-10
      //     p.lead To skip the tutorials in the future and to save your score and any points you accumulate, please register for an account.  After registering, we will teach you how to highlight important biomedical concepts like diseases, genes, and treatments. Your efforts, combined with the efforts of other citizen scientists, will help researchers better organize biomedical knowledge.

      .row.justify-content-center.my-2
        .col-10
          .row
            .col-12.col-md-8
              .row
                .col-12.my-2
                  h3.text-xs-center Register for an account
              .row
                .col-12

                  form(role='form', method='post', action="{% url 'account_signup' %}").form-horizontal
                    - csrf_token
                    #{form.errors}

                    .form-group.row
                      label.col-form-label.col-12 Username
                      .col-12
                        #{form.username|add_class:'form-control'|attr:"placeholder:Username is displayed on public profile"}

                    .form-group.row
                      label.col-form-label.col-12 Email
                      .col-12
                        #{form.email|add_class:'form-control'|attr:"placeholder:Email will remain hidden"}

                    .form-group.row
                      label.col-form-label.col-12 Password
                      .col-12
                        #{form.password1|add_class:'form-control'|attr:'type:password'}

                    .form-group.row
                      label.col-form-label.col-12 Verify Password
                      .col-12
                        #{form.password2|add_class:'form-control'|attr:'type:password'}

                    .form-group.row
                      .col-12
                        button(type="submit").form-control.btn.btn-primary.btn-block Create Account


            .col-12.col-md-4
              .row
                .col-12.my-2
                  h3.text-center Already have an account?

              .row.justify-content-center.mt-1
                .col-12.col-lg-8
                  a(href='{% url "account_login" %}').btn.btn-block.btn-primary Login
