- load widget_tweaks

#signupModal(tabindex="-1", role="dialog", aria-labelledby="signupModalLabel", aria-hidden="true").modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title Signup
        h5 Create A Buy/Browse Account

      .modal-body
        .row
          .col-md-12
            - if create_form.errors
                p Your username and password didn't match. Please try again.
                #{create_form.errors}

            form(role='form', method='post', action="{% url 'registration:user_creation' %}").form-horizontal
              - csrf_token
              #{create_form.errors}
              .form-group
                label.col-sm-4.control-label Username
                .col-sm-8 #{create_form.username|add_class:'form-control'}

              .form-group
                label.col-sm-4.control-label Email
                .col-sm-8 #{create_form.email|add_class:'form-control'}

              .form-group
                label.col-sm-4.control-label Password
                .col-sm-8 #{create_form.password1|add_class:'form-control'|attr:'type:password'}

              .form-group
                label.col-sm-4.control-label Verify Password
                .col-sm-8 #{create_form.password2|add_class:'form-control'|attr:'type:password'}


      .modal-footer
        button(type="button", data-dismiss="modal").btn.btn-default Cancel
        button(type="button").btn.btn-default.modal-form-submit Submit
