extends base

- load widget_tweaks
- load brabeion_tags
- load humanize
- load as_vertical_form from bootstrap
- load as_horizontal_form from bootstrap

block content

  .container
    .row

      .col-xs-4
        .list-group
          - for group in groups
            a(href='{% url "dashboard:group" pk=group.pk %}').list-group-item
              h4.list-group-item-heading #{group.name}
              p.list-group-item-text Tasks: #{group.task_set.count}
              p.list-group-item-text Document Count: #{group.total_documents.count}

      .col-xs-8
        h2 Make a New Group

        form(action='{% url "dashboard:groups_home" %}', method='post')
          - csrf_token

          fieldset
            #{form.name|as_vertical_form}
            #{form.stub|as_vertical_form}
            #{form.description|as_vertical_form}
            #{form.order|as_vertical_form}
            #{form.pmids|as_vertical_form}

          button(type='submit').btn.btn-warning.btn-block
            | Submit



