extends control/base

- load widget_tweaks
- load brabeion_tags
- load humanize
- load as_vertical_form from bootstrap
- load as_horizontal_form from bootstrap

block content

  .container
    .row.m-t-md
      .col-xs-10.col-xs-offset-1

        .list-group
          - for group in groups
            a(href='{% url "control:group" pk=group.pk %}').list-group-item
              h4.list-group-item-heading #{group.name}
              p.list-group-item-text Tasks: #{group.task_set.count}
              p.list-group-item-text Document Count: #{group.total_documents.count}

              .row
                .col-md-10.col-md-offset-1
                  -with progress=group.pubtator_coverage
                    - if progress
                      h4.progress-label Pubtator Coverage
                      .progress
                        div(role='progressbar', aria-valuenow='{{ progress }}', aria-valuemin='0', aria-valuemax='100', style='width: {{progress}}%;').progress-bar.active
                          #{progress|floatformat:"2"}%

