extends control/base

- load widget_tweaks
- load brabeion_tags
- load humanize
- load as_vertical_form from bootstrap
- load as_horizontal_form from bootstrap

block content

  .container
    .row
      .col-xs-10.col-xs-offset-1

        h2.text-center Create a New Group
        p.text-center
          small (Hidden by default)

        form(action='{% url "control:group_create" %}', method='post')
          - csrf_token

          fieldset
            #{form.name|as_vertical_form}
            #{form.stub|as_vertical_form}
            #{form.description|as_vertical_form}

          fieldset
            #{form.order|as_vertical_form}

          fieldset
            #{form.pmids|as_vertical_form}

          button(type='submit').btn.btn-warning.btn-block
            | Submit



