extends base

- load widget_tweaks
- load brabeion_tags
- load humanize
- load group

block header
  - with headerMessage=group.name
    include includes/header

block content

  .container
    - if messages
      - for message in messages
        - if 'safe' in message.tags
          .row
            .col-xs-10.col-xs-offset-1
              div(class='{{ message.tags }}').alert
                {{ message|safe }}

  .container
    .row
      - if group.description
        .col-md-10.col-md-offset-1.m-t-md
          p.lead #{group.description}

      .col-md-10.col-md-offset-1.m-t-md
        - with progress=group.percentage_complete
          - if progress
            h4.progress-label Community progress on this set:

            progress(value="{{ progress }}", max="100").progress
              .progress
                span(style="width: 25%;").progress-bar #{progress|floatformat:"2"}%

  #group-network.container-fluid
    .row
      .col-xs-4.col-xs-offset-4
        a
          h4.text-center Toggle Network <i class="fa fa-caret-down"></i>

    #network-row(style="height:800px;display:none;").row
      .col-xs-1
        .row
          .col-xs-12
            i.fa.fa-plus-circle
          .col-xs-12
            i.fa.fa-minus-circle
          .col-xs-12
            i.fa.fa-rotate-right
      .col-xs-11
        #network(style="height:800px;")

  .container
    .row
      .col-md-10.col-md-offset-1
        #group-selection




block post-footer
    #fb-root
    <script id='quest-icon-template' type='text/template'>
    <div class='row'>
    <div class='col-xs-12 text-center'>
    <% if(d.progress.completed) { %>
    <span class='fa fa-certificate muted' title='The community has completed this Quest.'></span>
    <% } else if (d.user.completed) { %>
    <span class='fa fa-check' title='You have completed this Quest.'></span>
    <% } else if (!d.user.enabled) { %>
    <span class='fa fa-circle muted' title='This quest is not enabled.'></span>
    <% } else { %>
    <a href='/task/entity-recognition/quest/<%- d.id %>/' title='Click to start this quest!'><p style='font-size: 1.75em; line-height: 1.8em;'><%- d.name %></p></a>
    <% } %>
    </div>
    </div>
    <% if(d.user.enabled) { %>
    <div class='row'>
    <div class='col-xs-12' title='This quest is <%- Math.round(progress) %>% complete.'>
    <progress value='<%- progress %>' max='100' class='progress'>
    <div class='progress'><span style='width: <%- progress %>%;' class='progress-bar'><%- d.progress.current %> Completions</span></div>
    </progress>
    </div>
    </div>
    <% } %>
    </script>

    <script id='group-template' type='text/template'>
    <h3><%- name %></h3>
    <div id='group-<%- pk %>' class='row head-space paragraph-box'>
    <div class='col-xs-12 text-center'>
    <h2 class='quest-loading'>Loading...</h2>
    </div>
    </div>
    </script>

    script.
      pk = #{group.pk};
    script(src='/static/js/pages/group_home.js')
