extends base

- load widget_tweaks
- load humanize

block header
    - if user.is_authenticated
      include includes/header
    - else
      include includes/header-anon


block content
  .container
    .row.justify-content-center
      .col-6
        h1.text-center Team #{team.name}

    .row.justify-content-center
      .col-8.text-center
        .card
          .card-header
            | Description
          .card-block
            #{team.description}

    .row.justify-content-center.my-3
      .col-6
        .card
          .card-header
            | Quick Stats
          .card-block
            .row
              if members
                .col-6
                  ol.list-unstyled
                    li Total Contributions: #{team.total_annotations.count|intcomma}
                    li Total Docs: #{team.total_documents.count|intcomma}
                    li Quests Finished: #{team.finished_quests.count|intcomma}
                    li Lifetime Score: #{team.total_score|intcomma}
              else
                p There are no members in this group, so there are no contributions

              .col-6
                ol.list-unstyled
                  if members
                    - with user=team.last_active_user
                      li
                        p Last Active User:
                          a(href='{% url "userprofile:public-profile" username=user.username %}')
                            if user.username
                              #{user.username}


                    li
                      if members
                        p Last Member Activity: #{user.userprofile.last_seen|naturaltime}


      .col-4
        .row
          .col-12
            .card
              .card-header
                | About
              .card-block
                ol.list-unstyled
                  li
                    p Created: #{team.created|naturaltime}
                  li
                    p Created by:
                      a(href='{% url "userprofile:public-profile" username=team.owner.username %}')
                        |  #{team.owner}
                  li
                    if members
                      p Members: #{team.members_count}

                  li
                    if members
                      - with userprofile=team.userprofile_set.last
                        p Newest Member:
                          a(href='{% url "userprofile:public-profile" username=userprofile.user.username %}')
                            |  #{userprofile.user.username}


    if members
      .row.justify-content-center.my-3

        .col-10
          .card
            .card-header
              | Members
            .card-block
              .row
                  - for member_profile in members
                    .col-4
                      a(href='{% url "userprofile:public-profile" username=member_profile.user.username %}')
                        p.lead.text-xs-center #{member_profile.user.username}

