extends base

- load widget_tweaks
- load humanize
- load group

block header
  - with headerMessage='User Profile'
    - if user.is_authenticated
      include includes/header
    - else
      include includes/header-anon


block content
  #profile.container
    .row.justify-content-center
      .col-6
        h1.text-center #{player.username}

    - if owner
      .row.justify-content-center
        .col-2
          form(method="post", action='{% url "account_logout" %}')
            - csrf_token
            button(type="submit", style='margin:0px;padding:0px;').btn.btn-link
              p Logout

        .col-2
          p.text-center.text-muted
            a(href='{% url "profile:settings" %}') Settings


    .row
      .col-8
        .row
          .col-12.mb-4
            .card
              .card-header
                | Motivation
              .card-block
                #{player.userprofile.motivation}

          .col-12.mb-4
            .card
              .card-header
                | Quote
              .card-block
                #{player.userprofile.quote}

      .col-4
        .card
          .card-header
            | Statistics

          .card-block
            ol.list-unstyled
              li
                p Joined: #{player.date_joined|naturaltime}
              li
                p Last Seen: #{player.userprofile.last_seen|naturaltime}
              li
                p Total Quests: #{player.userprofile.quests_count|intcomma}
              li
                p Total Annotations: #{player.userprofile.annotations_count|intcomma}

              - if request.user|has_group:"Comment Moderators"
                li
                  p Performance: {% widthratio player.userprofile.current_avg_f 1 100 %}%
              li
                p Score: #{player.userprofile.score|intcomma}
              - if player.userprofile.team
                li
                  p Team:
                    a(href='{% url "team:home" teamname=player.userprofile.team.name %}')
                      |  #{player.userprofile.team.name}


block post-footer
    script.
        $('.nav-tabs a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        });


    - for group in contributed_groups
        script.
            drawUserFScoreLine("#tab-{{group.stub}} #chart", "{{group.pk}}");
