extends base

- load widget_tweaks
- load humanize

block header
    - if user.is_authenticated
      include includes/header-anon
    - else
      include includes/header-anon


block content
  .container
    .row.head-space
      .col-xs-12
        h1.text-center
          a(href='{% url "profile:public-profile" username=player.username %}') #{player.username}
      - if owner
        .col-xs-12
          p.text-center.text-muted
            a(href='{% url "profile:settings" %}') Settings

    hr

    .row
      .col-xs-offset-1.col-xs-7
        .row
          .col-xs-12
            .panel.panel-default
              .panel-heading
                | Motivation
              .panel-body
                #{player.userprofile.motivation}

          .col-xs-12
            .panel.panel-default
              .panel-heading
                | Quote
              .panel-body
                #{player.userprofile.quote}


      .col-xs-3
        .row
          .col-xs-12
            .panel.panel-default
              .panel-heading
                | Statistics
              .panel-body
                ol.list-unstyled
                  li
                    p Joined: #{player.date_joined|naturaltime}
                  li
                    p Last Seen: #{player.userprofile.last_seen|naturaltime}
                  li
                    p Total Quests: #{player.userprofile.quests_count|intcomma}
                  li
                    p Total Annotations: #{player.userprofile.annotations_count|intcomma}
                  li
                    p Score: #{player.userprofile.rating_score|intcomma}
                  li
                    p Level: #{player.userprofile.highest_level.name}
                  - if player.userprofile.team
                    li
                      p Team:
                        a(href='{% url "team:home" teamname=player.userprofile.team.name %}')
                          |  #{player.userprofile.team.name}




