extends base

- load widget_tweaks
- load humanize
- load as_vertical_form from bootstrap
- load as_horizontal_form from bootstrap

block header
  - with headerMessage='Account Settings'
    include includes/header

block content
  .container
    - if messages
      - for message in messages
        - if 'safe' in message.tags
          .row
            .col-xs-10.col-xs-offset-1
              div(class='{{ message.tags }}').alert
                {{ message|safe }}

  .container.content.my-3
    .row.justify-content-center
      .col-10.col-sm-6

        form.form-horizontal
          .form-group
            fieldset
              label(for='id_username').control-label.col-md-4 Username
              .col-md-8
                input(type='text', value='{{user.username}}', disabled).form-control

          .form-group
            fieldset
              label(for='id_email').control-label.col-md-4 Email
              .col-md-8
                input(type='text', value='{{user.email}}', disabled).form-control

    hr

    form(method='post').form-horizontal
      - csrf_token

      .row.justify-content-center
        .col-10.col-md-12
          h2 Account Settings

        .col-10.col-md-12
          .row
            .col-7
              fieldset
                .first_name.form-group
                  .row
                    label(for="id_first_name").col-sm-2.control-label First name
                    .col-sm-10
                      input(id="id_first_name", maxlength="30", name="first_name", type="text",value="", disabled).form-control
                .last_name.form-group
                  .row
                    label(for="id_last_name").col-sm-2.control-label Last name
                    .col-sm-10
                      input(id="id_last_name", maxlength="30", name="last_name", type="text",value="", disabled).form-control

            .col-5
              #{user_profile_form.team|as_horizontal_form}
              - if user_profile_form.team.value == None
                #{team_form.name|as_vertical_form}

      hr
      .row.justify-content-center
        .col-10.col-md-12
          h2 Profile Information

        .col-10.col-md-12
          .row.justify-content-center
            .col-md-4
              #{user_profile_form.motivation|as_vertical_form}
            .col-md-4
              #{user_profile_form.referral|as_vertical_form}

          .row.justify-content-center
            .col-md-8
              #{user_profile_form.quote|as_horizontal_form}

          .row.justify-content-center
            .col-xs-4.col-sm-3
              a(href='{% url "userprofile:public-profile" username=user.username %}').btn.btn-default.btn-block Cancel
            .col-xs-8.col-sm-3
              button(type='submit').btn.btn-primary.btn-block Update

