extends base

- load widget_tweaks
- load humanize

block header
  - with headerMessage='Account Settings'
    include includes/header

block content
  .container
    .row.head-space
      .col-md-6
        form.form-horizontal
          fieldset
            .form-group
              label(for='id_username').control-label.col-md-4 Username
              .col-md-8
                input(type='text', value='{{user.username}}', disabled).form-control

            .form-group
              label(for='id_email').control-label.col-md-4 Email
              .col-md-8
                input(type='text', value='{{user.email}}', disabled).form-control

    hr

    .row
      .col-lg-3
        h2 Profile Information
      .col-md-12
        form(method='post').form-horizontal
          - csrf_token
          .row
            .col-md-6
              fieldset
                .form-group
                  label(for='id_first_name').control-label.col-md-4 First Name
                  .col-md-8
                    #{user_change_form.first_name|add_class:'form-control'|attr:'placeholder:First Name'}

                .form-group
                  label(for='id_last_name').control-label.col-md-4 Last Name
                  .col-md-8
                    #{user_change_form.last_name|add_class:'form-control'|attr:'placeholder:Last Name'}

            .col-md-6
              .row
                .col-sm-12
                  label(for='id_motivation') I contribute to Mark2Cure because:
                .col-sm-10.col-sm-offset-1
                  #{user_profile_form.motivation|add_class:'form-control'|attr:'rows:2'}

              .row.head-space
                .col-sm-12
                  label(for='id_referal') I heard about Mark2Cure from:
                .col-sm-10.col-sm-offset-1
                  #{user_profile_form.referral|add_class:'form-control'|attr:'rows:2'}

          .row
            .col-sm-12
              label(for='id_signature') Quote / Signature:

            .col-sm-10.col-sm-offset-1
                #{user_profile_form.quote|add_class:'form-control'|attr:'rows:4'}

          .row.head-space
            .col-sm-3.col-sm-offset-8
              button(type='submit').btn.btn-default.btn-block.pull-right Update

