extends base

- load humanize

block content

    .row
      .col-sm-4.col-sm-offset-4
          h1
            | Experiment # {{exp_id}}
    .row
      .col-sm-4
          h3
            | Total Views: {{total_activities}} (${{cost}})

      .col-sm-4
          h3
            | Average F <small>(of GM)</small>: {{avg_f|floatformat:4}}
      .col-sm-4
          h3
            | Experiment Views: {{total_experimental_activities}}

    hr
    .row.head_space
      .col-sm-4
        h4.text-center
          | Workers

        table.table.table-striped.table-hover
          - if workers.count == 0
            tr
              td
                | No Workers
          - else
            tr
              th
                | #
              th
                | Worker
              th
                | Completions

            - for worker, idx in workers
              tr
                td
                  | #{ idx }

                td
                  | #{ worker.user } (
                  a(href="https://requester.mturk.com/workers/{{worker.user__username}}", target='_blank')
                    |#{ worker.user__username }
                  | )

                td
                  | #{ worker.user__count }


      .col-sm-4
        h4.text-center
          | Experiment Documents
        table.table.table-striped.table-hover
          - if documents.count == 0
            tr
              td
                | No Documents (what?)
          - else
            tr
              th
                | #
              th
                | Document
              th
                | Completions
              th
                | # Commments

            - for document, idx in documents
              tr
                td
                  | #{ idx }

                td
                  a(href="http://www.ncbi.nlm.nih.gov/pubmed/{{document.document__document_id}}", target='_blank')
                    | #{ document.document }

                td
                  | #{ document.document__count }

                td
                  | #{ document.comment_count }


      .col-sm-4
        h4.text-center
          | Golden Documents

        table.table.table-striped.table-hover
          - if gold_documents.count == 0
            tr
              td
                | No Documents (what?)
          - else
            tr
              th
                | #
              th
                | Document
              th
                | Completions
              th
                | # Commments

            - for document, idx in gold_documents
              tr
                td
                  | #{ idx }

                td
                  a(href="http://www.ncbi.nlm.nih.gov/pubmed/{{document.document__document_id}}", target='_blank')
                    | #{ document.document }

                td
                  | #{ document.document__count }

                td
                  | #{ document.comment_count }

