- load humanize

block content

  - for section in sections
      .row

        .col-sm-10.col-sm-offset-1.head-space.game
          div(id="{{ section.pk }}").paragraph.results
            p.paragraph
              - for indexes, text, counter, gm_pk, user_pk, user_annotated in section.words
                span( data-counter="{{ counter }}",
                      data-starti="{{ indexes.0 }}",
                      data-stopi="{{ indexes.1 }}",
                      data-gmannid="{{ gm_pk }}",
                      data-uannid="{{ user_pk }}")
                  | #{ text } 

  .row
    .col-sm-3.col-sm-offset-1
      table.table
        tbody
          tr
            td
              div(style="height: 16px; width: 16px; background-color: #00CC00")
            td
              | Correct annotations

          tr
            td
              div(style="height: 16px; width: 16px; background-color: #0cf")
            td
              | Your annotations


block post-footer
    script.
      drawUserWithGolden();
